<div class="min-h-screen">
    <div class="m-4">
        <button mat-raised-button (click)="openCreateDialog()">Create new topic</button>
    </div>
    <div class="flex justify-center" *ngIf="isLoading">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <ng-container *ngIf="$plans | async as plans;">
        <div class="p-4 m-4 shadow-lg" *ngFor="let plan of plans">
            <div class="flex justify-between">
                <div class="text-xl my-4">
                    <div>{{plan.title}}</div>
                    <div class="text-sm font-thin">date create: {{plan.createDate | date:'dd/MM/yyyy'}}</div>
                </div>
                <div>
                    <button mat-icon-button class="text-blue-400" (click)="openEditDialog(plan)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="text-red-400" (click)="openDeleteDialog(plan)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="text-base" [innerText]="plan.content">
            </div>
        </div>
    </ng-container>
</div>