<div class="h-auto shadow-lg">
  <div class="card-img">
    <img src="https://img-c.udemycdn.com/course/240x135/1778502_f4b9_12.jpg" alt="" width="100%" height="135">
  </div>
  <div class="card-content mt-2">
    <div class="font-bold text-xs md:text-base overflow-hidden w-full ml-1 ">
      iOS & Swift - The Complete iOS App Development Bootcamp
    </div>
    <div class="text-gray-600 text-sm ml-1">
      Description
    </div>
    <div class="mt-11">
      <div class="flex">
        <div class="flex items-center ">
          <div class="ml-3">
            <mat-icon>people</mat-icon>
          </div>
          <div class="ml-2">24</div>
        </div>
        <div class="flex items-center ">
          <div class="ml-8">
            <mat-icon>comment</mat-icon>
          </div>
          <div class="ml-2">24</div>
        </div>
      </div>
    </div>
  </div>
</div>
