<div class="ml-auto mr-auto w-full" [formGroup]="courseForm">
  <div class="flex justify-between">
    <!-- Course Title -->
    <div class="oe_title w-1/2 mt-5">
      <mat-form-field class="w-full">
        <input matInput placeholder="Course Title" formControlName="name">
        <mat-error *ngIf="errorHandling('name','required')">Enter Your Course Title</mat-error>
        <mat-error *ngIf="errorHandling('name','minlength')">minlength is 5</mat-error>
      </mat-form-field>
    </div>
    <!-- Course image -->
    <div class="o_avatar relative">
      <label for="image">
        <input type="file" name="image" id="image" accept=".jpg, .png, .jpeg" style="display:none;" class="cursor-pointer" (change)="onSelectFile($event)" />
        <img src="{{url}}" alt="upload" class="border-2 w-24 h-24" />
      </label>
    </div>
  </div>
  <!-- Visibility -->
  <div class="Visibility">
    <div class="font-medium text-gray-900">
      <label>Status:</label>
    </div>
    <div class="w-64">
      <select class="w-full border bg-white rounded px-3 py-2 outline-none" formControlName="isPublic">
        <option class="py-1" [ngValue]="false">Private</option>
        <option class="py-1" [ngValue]="true">Public</option>
      </select>
    </div>
  </div>
  <!-- NoteBookContent -->
  <div class="tab-content">
    <div class="mt-6 whitespace-nowrap text font-medium text-gray-900 w-5">
      Description:
    </div>
    <div class="whitespace-nowrap">
      <textarea class="mt-2 w-full text-gray-700 border-b-2 focus:outline-none" rows="3"
        placeholder="Common tasks for a computer scientist is asking the right questions and answering questions. In this course, you'll study those topics with activities about mathematics, science and logic."
        formControlName="description"></textarea>
    </div>
  </div>
  <div class="p-4" *ngIf="isLoading">
    <mat-spinner [diameter]="30" #loading></mat-spinner>
  </div>
  <div class="grid grid-cols-2 gap-4 mt-2">
    <button class="bg-blue-400 rounded hover:bg-blue-300 text-white py-3 px-5 focus:outline-none"
      (click)="onClickHandle()">{{!course ? 'Create':'Edit' }}</button>
    <button class="bg-red-400 rounded hover:bg-red-300 text-white py-3 px-5 focus:outline-none"
      [mat-dialog-close]="false">Cancel</button>
  </div>
</div>
