<div class="min-h-screen">
    <div class="m-4">
    </div>
    <div class="flex justify-center" *ngIf="isLoading">
        <mat-spinner
            [diameter]="20">
        </mat-spinner>
    </div>
    <div *ngIf="$notification |async as notifications">
        <div class="p-4 m-4 shadow-lg" *ngFor="let notification of notifications">
            <div class="flex justify-between">
                <div class="text-xl my-4">
                    <div>{{notification.title}}</div>
                    <div class="text-sm font-thin">date create: {{notification.createDate | date:'dd/MM/yyyy'}}</div>
                </div>
            </div>
            <div class="text-base" [innerText]="notification.content">
            </div>
        </div>
    </div>
</div>