<div class="shadow-lg text-gray-500 p-4 relative">
  <div class="text-xl text-center py-4 font-medium">Course Information</div>
  <div>
    <div class="flex mt-4">
      <div class='text-base font-medium ml-4'>
        Course Title:
      </div>
      <div class='text-base ml-4'>
        {{courseData.name}}
      </div>
    </div>
    <div class="flex mt-4">
      <div class='text-base font-medium ml-4'>
        Status:
      </div>
      <div class='text-base ml-4'>
        {{courseData.isPublic ? 'Public' : 'Private'}}
      </div>
    </div>
    <div class="flex mt-4">
      <div class='text-base font-medium ml-4'>
        Description:
      </div>
      <div class='text-base ml-8 text-left'>
        {{courseData.description}}
      </div>
    </div>
    <div class="flex mt-4">
      <div class='text-base font-medium ml-4'>
        Image:
      </div>
      <div class='text-base ml-8 text-left'>
        <div *ngIf="!courseData.image else image">
          <mat-icon class="text-3xl w-8 h-8">image</mat-icon>
        </div>
        <ng-template #image>
          <img [src]="'https://lmstechbe.azurewebsites.net/api/course/image/' + courseData.id" class="w-24 h-24 rounded-lg shadow-lg" alt="image">
        </ng-template>

      </div>
      <div class=" absolute top-10 right-10">
        <button mat-icon-button class="text-blue-400" (click)="openDialog()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
