

<div class="grid grid-cols-2 ">
  <div class="title grid-cols-4">
      <h1 class="change">Change Password</h1>
      <h2 class="must-contain">Password must contain:</h2>
      <ul>
          <li >
              <img class="tick" src="https://image.flaticon.com/icons/png/512/845/845646.png" alt="">
              At least 6 Characters

          </li>
          <li><img class="tick" src="https://image.flaticon.com/icons/png/512/845/845646.png" alt="">At least 1 Number</li>
          <li><img class="tick"  src="https://image.flaticon.com/icons/png/512/845/845646.png" alt="">At least 1 upper-case letter</li>

      </ul>
  </div>
  <div class="login-page grid-cols-8" >
      <mat-card class="mat-elevation-z12  ">

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
          <!-- <mat-tab label="Change Password">

          </mat-tab> -->
          <mat-tab label=""  class="bg-light ">
            <mat-card-content >
              <form [formGroup]="changeForm" >
                  <mat-form-field >
                      <input class="pwd " matInput placeholder="Old Password" type="password" name="oldpass"
                      formControlName="oldpass">
                      <mat-error *ngIf="errorHandling('oldpass','required')">required</mat-error>
                      <mat-error *ngIf="errorHandling('oldpass','required')">>minlength is 6</mat-error>
                    </mat-form-field>
                <mat-form-field>
                  <input class="pwd" matInput placeholder="New Password" type="password" required minlength="6" name="newpass"
                  formControlName="newpass">
                  <mat-error *ngIf="errorHandling('newpass','required')">required</mat-error>
                  <mat-error *ngIf="errorHandling('newpass','minlength')">minlength is 6</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input class="pwd" matInput placeholder="Retype Password" type="password" required minlength="6" name="confirmpass"
                  formControlName="confirmpass">
                  <mat-error *ngIf="errorHandling('confirmpass','required')">Required</mat-error>
                  <mat-error *ngIf="errorHandling('confirmpass','minlength')">minlength is 6</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" class="login-button" (click)="changeHandling()">
                  Save
                </button>
              </form>
              <div class="text-center text-red-400 text font-medium" *ngIf="changeState.state === 'ERROR'">
                {{ changeState.message }}
              </div>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
</div>
