<div class="grid lg:grid-cols-6">
  <div class="col-span-5">
      <router-outlet></router-outlet>
  </div>
  <div class="col-1 p-4 m-4">
      <div class="shadow-md p-4 bg-gray-100">
          <div class="text-base text-gray-400 cursor-pointer hover:text-gray-600 hover:underline"
              routerLink='student-list' [routerLinkActive]="['underline','text-gray-500']">Student List</div>
          <div class="text-base text-gray-400 cursor-pointer hover:text-gray-600 hover:underline"
              routerLink='request-list' [routerLinkActive]="['underline','text-gray-500']">Request</div>
      </div>
  </div>
</div>
