<div class="shadow-lg p-4" style="min-height: 300px;">
  <div class='grid grid-cols-2 m-4'>
    <div>
      <input type="text" class="bg-gray-50 focus:outline-none rounded-md py-2 shadow-lg" #searchInput>
      <button class="bg-gray-200 hover:bg-gray-300 h-full p-2 focus:outline-none rounded-lg shadow-lg"
        (click)="searchHandling()">search</button>
    </div>
    <div class="inline-block justify-self-end">
      <button
        class="px-5 p-2 bg-blue-400 hover:bg-blue-300 font-medium rounded-lg shadow-lg text-white focus:outline-none"
        (click)="openCreateClassDialog()">Create
        Class</button>
    </div>
  </div>
  <div style="min-height: 300px;">
    <table class="min-w-full divide-y divide-gray-200 shadow-lg">
      <thead class="bg-gray-100">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            stt
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            ClassName
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Description
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200" *ngIf="!isLoading else loading">
        <tr class="hover:bg-gray-200" *ngFor="let class of classList?.data, let idx = index"
          (click)="rowClickHandling(class)">
          <td class="px-6 py-4 whitespace-nowrap font-medium text-gray-600">
            {{idx+1}}
          </td>
          <td class="px-6 py-4 whitespace-nowrap font-medium text-gray-600">
            {{class.name}}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            {{class.description}}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
            <button mat-icon-button [routerLink]="['/teacher/class/' + class.id]" class="text-blue-400"
              (click)="$event.stopPropagation()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteClassDialog(class);$event.stopPropagation()"
              class="text-red-400 z-10">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>

      </tbody>
      <ng-template #loading>
        <div class="p-4">
          <mat-spinner [diameter]="30" #loading></mat-spinner>
        </div>
      </ng-template>
    </table>
  </div>
  <mat-paginator [length]="classList?.count" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageHandling($event)" aria-label="Select page" #paginator>
  </mat-paginator>
</div>