<div class="grid grid-cols-6">
    <div class="col-span-5 " style="min-height: 300px;">
        <div class="grid grid-cols-4 gap-4 m-4" *ngIf="$courses | async as courses">
            <div *ngFor="let course of courses.data" class="hover:shadow-2xl"
            [routerLink]="['/student/course',course.id]">
                <app-course-card [course]='course'></app-course-card>
            </div>
        </div>
        <div>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
            (page)="pageChange($event)">
            </mat-paginator>
        </div>
    </div>
</div>